<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    一对多关系
    getDeptAndEmp:<collection> 标签处理
    getDeptAndEmpByStep:分步查询
-->
<mapper namespace="com.example.mapper.DeptMapper">
    <!--Dept getById(@Param("did") Integer did);-->
    <select id="getById" resultType="Dept">
        select *
        from t_dept
        where did = #{did};
    </select>

    <resultMap id="getDeptAndEmpMap" type="Dept">
        <id property="did" column="did"/>
        <result property="deptName" column="dept_name"/>
        <collection property="emps" ofType="Emp">
            <id property="eid" column="eid"/>
            <result property="empName" column="emp_name"/>
            <result property="age" column="age"/>
            <result property="sex" column="sex"/>
            <result property="email" column="email"/>
        </collection>
    </resultMap>
    <!--    Dept getDeptAndEmp(@Param("did") Integer did);-->
    <select id="getDeptAndEmp" resultMap="getDeptAndEmpMap">
        select *
        from t_dept
                 left join t_emp on t_dept.did = t_emp.did
        where t_dept.did = #{did};
    </select>

    <resultMap id="getDeptAndEmpByStepMapper" type="Dept">
        <id property="did" column="did"/>
        <result property="deptName" column="dept_name"/>
        <collection property="emps"
                    select="com.example.mapper.EmpMapper.getEmpsByDid"
                    column="did"
        />
    </resultMap>
    <!--    Dept getDeptAndEmpByStep(@Param("did") Integer did);-->
    <select id="getDeptAndEmpByStep" resultMap="getDeptAndEmpByStepMapper">
        select *
        from t_dept
        where did = #{did};
    </select>
</mapper>